html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  width   : 100%;
  height  :  100%;
  font-family : monospace;
}

body {
  background : rgba(160, 211, 251, 0.1);
  width : 100%;
  height : 100%;
  position: relative;
}

.main-container {
  width : 860px;
  margin : 0 auto;
  padding : 10px;
}

.pull-right {
  float : right
}