.story-item {
  background: white;
  border-left : 2px solid #2394CC;
  padding : 10px 10px;
  margin-bottom: 6px;

  a {
    color : #0F4058;
    font-size : 0.86em;
    text-decoration: none;
    &.readed {
      color : Gray;
    }
  }
  
  .story-controls {
    display: inline-block;
  }

  .glyphicon {
    font-size : 0.76em;
    color : gainsBoro;
    margin-right: 8px;
    &:hover {
      cursor : pointer;
      color : Gray;
    }
  }
}